@import 'variables'

.columns
  margin: 0 !important

.footer
  width: 100%
  padding: 0 !important
  position: absolute
  bottom: 0
  top: auto
  
  .blacksmiths
    padding: .5rem

    img
      display: block
      margin: auto
      height: 2rem
      user-select: none
      user-drag: none

@import '../../../vendor/bulma'