<div class="columns">
  <div class="column">
    <h1 class="title is-1">Let's set you up</h1>
  </div>
</div>
<div class="columns phone-os">
  <div class="column">
    <div class="notification is-warning">
      Do <strong>not</strong> share the URLs with anybody else. They are personalised.
    </div>
  </div>
</div>