{{> setup/partials/guide }}
<div class="columns">
  <div class="column is-8-tablet is-offset-2-tablet is-6-desktop is-offset-3-desktop">
    <div class="card has-text-left">
      <div class="card-content app-card" id="app-card">
        <div class="media" id="app-info">
          <div class="media-left">
            <figure class="image" style="height: 40px; width: 40px;">
              <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><a href="https://play.google.com/store/apps/details?id=de.egi.geofence.geozone&hl=en">EgiGeoZone Geofence</a></p>
            <p class="subtitle is-6">Free - egmontr</p>
          </div>
        </div>

        <div class="content">
          <p>You'll need a geofence app capable of making HTTP(S) requests. EgiGeoZone is the recommended app for Android.</p>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item is-primary" id="done-installing">Done installing it</a>
      </footer>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-8-tablet is-offset-2-tablet is-6-desktop is-offset-3-desktop">
    <div class="card has-text-left fence-setup hide" id="fence-setup-card">
      <div class="card-content">
        <div class="content">
          <p>You'll now have to set up your geo fence. Please use the tutorial inside the app.</p>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item is-primary" id="fence-finished">Finish</a>
      </footer>
    </div>
  </div>
</div>