<div class="columns">
  <div class="column">
    <h1 class="title is-1">What phone do you have?</h1>
  </div>
</div>
<div class="columns phone-os">
  <div class="column">
    <a class="button is-large" id="android">Android</a>
    <a class="button is-large" id="iphone">iPhone</a>
  </div>
</div>