{{> partials/header css="workday.css" title=statusCode }}
{{> partials/navbar }}
<div class="container" id="main">
  <div class="columns">
    <div class="column">
      <h1>Logged in as {{user.email}}</h1>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <today :date="today"></today>
    </div>
  </div>
  <div class="columns">
    <template v-for="day in history">
      <div class="column">
        <day-summary :date="day.date" :stamps="day.workday.stamps"></day-summary>
      </div>
    </template>
  </div>
</div>
<script type="text/javascript">
  window.DUTRACK = {
    fence: '{{user.fence}}'
  };
</script>
{{> partials/footer js=["vue.js", "ajax.js", "moment.js", "moment_timezone.js", "components/event.js", "components/day_summary.js", "components/today.js", "workday.js"] }}