{{> partials/header noContent=true css="setup.css" title=statusCode }}
{{> partials/navbar }}
<section class="hero is-bold is-primary inset-shadow">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Setup
      </h1>
      <h2 class="subtitle">
        getting you up and running
      </h2>
    </div>
  </div>
</section>
<div class="content">
  <div class="container setup has-text-centered">
    <div class="columns">
      <div class="column">
        <h1 class="title is-1">What phone do you have?</h1>
      </div>
    </div>
    <div class="columns phone-os">
      <div class="column">
        <a class="button is-large">Android</a>
        <a class="button is-large">iPhone</a>
      </div>
    </div>
  </div>
</div>
{{> partials/footer noContent=true}}