{{> partials/header noContent=true css="setup.css" title=statusCode }}
{{> partials/navbar }}
<section class="hero is-bold is-primary inset-shadow">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Setup
      </h1>
      <h2 class="subtitle">
        let's get you up and running
      </h2>
    </div>
  </div>
</section>
<div class="container setup has-text-centered">
  <div class="part-wrapper">
    <div id="q-phone" class="part">
      {{> setup/partials/q-phone }}
    </div>
    <div id="guide-android" class="part hide">
      {{> setup/partials/guide_android hidden=true }}
    </div>
    <div id="guide-iphone" class="part hide">
      {{> setup/partials/guide_iphone hidden=true }}
    </div>
  </div>
</div>
{{> partials/footer js=["setup.js"] noContent=true}}